[2015-03-18 18:59] nickpaventi opened #7 "Global Nav"
Global nav should be about 7px shorter, see screenshot for comparison.
![screen shot 2015-03-18 at 11 58 14 am](https://cloud.githubusercontent.com/assets/10563172/6716957/3fc20a5c-cd66-11e4-8633-45aa142e13ad.png)

[2015-03-18 19:02] nickpaventi opened #8 "Global Font"
Need to get the DIN font working site wide.

Need to remove - "allumi-std" from fallback for font family

[2015-03-18 19:04] nickpaventi opened #9 "Homepage Primary CTA Button"
Style doesn't quite match the PSD. Looks like there is a box-shadow that needs to be removed
![screen shot 2015-03-18 at 12 03 34 pm](https://cloud.githubusercontent.com/assets/10563172/6717051/f2b127e2-cd66-11e4-97d9-b72742add084.png)

[2015-03-18 19:05] nickpaventi opened #10 "Homepage What is Culligan DIY"
Font color here is wrong
![screen shot 2015-03-18 at 12 05 21 pm](https://cloud.githubusercontent.com/assets/10563172/6717067/1a5ea1fc-cd67-11e4-8f40-b8ab32060909.png)

[2015-03-18 19:07] nickpaventi opened #11 "Homepage Buttons"
Box-shadow should be removed for these filter buttons, need to add hover state too.
![screen shot 2015-03-18 at 12 06 12 pm](https://cloud.githubusercontent.com/assets/10563172/6717086/49b4f2bc-cd67-11e4-8454-b8772278c8f1.png)

[2015-03-18 19:08] nickpaventi opened #12 "Global Product Component"
Hover border should be thicker
![screen shot 2015-03-18 at 12 07 55 pm](https://cloud.githubusercontent.com/assets/10563172/6717117/892e5ef6-cd67-11e4-86f7-8b9fd297e05d.png)

[2015-03-18 19:09] nickpaventi opened #13 "Homepage water image is blurry"
Is this being stretched? Do we need a bigger/higher res image
![screen shot 2015-03-18 at 12 09 15 pm](https://cloud.githubusercontent.com/assets/10563172/6717135/ab716666-cd67-11e4-9370-f448b2434ea9.png)
?

[2015-03-18 19:11] nickpaventi opened #14 "Homepage colors"
Blues look different in comp, is this just from the change in the style tile?
![screen shot 2015-03-18 at 12 10 29 pm](https://cloud.githubusercontent.com/assets/10563172/6717166/dffa260c-cd67-11e4-9189-a313bb073c72.png)
![screen shot 2015-03-18 at 12 10 40 pm](https://cloud.githubusercontent.com/assets/10563172/6717167/dffa2dbe-cd67-11e4-963a-4a7a0f95167d.png)

[2015-03-18 19:13] nickpaventi opened #15 "Footer form"
Submit button has border we don't need, double check input styles
![screen shot 2015-03-18 at 12 12 14 pm](https://cloud.githubusercontent.com/assets/10563172/6717196/204744ce-cd68-11e4-95ef-e0ebce6a1a94.png)

[2015-03-18 19:14] nickpaventi opened #16 "Footer spacing"
Need less margin under customer support links.

Social links should line up with the copyright section

![screen shot 2015-03-18 at 12 12 20 pm](https://cloud.githubusercontent.com/assets/10563172/6717217/4acdc632-cd68-11e4-9f72-a0f0106e9a1f.png)
![screen shot 2015-03-18 at 12 13 35 pm](https://cloud.githubusercontent.com/assets/10563172/6717218/4b1814d0-cd68-11e4-8905-810a3cfda961.png)

[2015-03-18 19:15] nickpaventi opened #17 "Mobile Header"
"Do it yourself" placed wrong
![screen shot 2015-03-18 at 12 15 26 pm](https://cloud.githubusercontent.com/assets/10563172/6717257/81e819e2-cd68-11e4-8e52-2e27003c7f9c.png)

[2015-03-18 19:17] nickpaventi opened #18 "Homepage Mobile Hero"
Hero text is too large which is expanding image too much.

CTA shouldn't be full width.

![screen shot 2015-03-18 at 12 16 27 pm](https://cloud.githubusercontent.com/assets/10563172/6717287/afbff222-cd68-11e4-8049-047cdc7143eb.png)

[2015-03-18 19:18] nickpaventi opened #19 "Homepage mobile Featured Section"
Text is too large
![screen shot 2015-03-18 at 12 18 14 pm](https://cloud.githubusercontent.com/assets/10563172/6717326/e5f98c68-cd68-11e4-8493-6e3c6a471650.png)

[2015-03-18 19:19] nickpaventi opened #20 "Homepage product section"
Product name and text should move under product image

![screen shot 2015-03-18 at 2 09 49 pm](https://cloud.githubusercontent.com/assets/10563172/6719543/7dd58e60-cd78-11e4-9beb-6725b1502bbc.png)

[2015-03-18 19:20] nickpaventi opened #21 "Homepage mobile Hide CTA"
Hide this button on mobile
![screen shot 2015-03-18 at 12 20 14 pm](https://cloud.githubusercontent.com/assets/10563172/6717363/328b0106-cd69-11e4-9e69-6908ba7290c3.png)

[2015-03-18 19:23] nickpaventi opened #22 "Homepage mobile product w/Dots"
Formatting needs to adjust on mobile, still show product and image side by side
![screen shot 2015-03-18 at 12 21 07 pm](https://cloud.githubusercontent.com/assets/10563172/6717424/8a5d1d38-cd69-11e4-8a37-0ef9fcbd47f1.png)

[2015-03-18 19:23] nickpaventi opened #23 "Homepage mobile Aqua callout"
Text size and layout needs adjustment
![screen shot 2015-03-18 at 12 21 38 pm](https://cloud.githubusercontent.com/assets/10563172/6717444/a67a6d72-cd69-11e4-9e71-25a609625330.png)

[2015-03-18 19:24] nickpaventi opened #24 "Global Footer mobile"
Font size issues, spacing, social icons too big
![screen shot 2015-03-18 at 12 21 54 pm](https://cloud.githubusercontent.com/assets/10563172/6717456/c0ae6df6-cd69-11e4-80f8-edd755be547e.png)
![screen shot 2015-03-18 at 12 22 09 pm](https://cloud.githubusercontent.com/assets/10563172/6717457/c0c683a0-cd69-11e4-8fa9-974f55c2e4bd.png)

[2015-03-18 19:34] thompsizzle commented on #22
Hey Nick,

This mobile design shows it stacked,

https://projects.invisionapp.com/d/main#/console/2979124/68432269/preview

Thanks!

[2015-03-18 19:43] thompsizzle commented on #24
Looks like I zoomed into the design too much.

[2015-03-18 21:00] nickpaventi commented on #7
This looks good, please just double check once the correct font has been added @thompsizzle

[2015-03-18 21:01] nickpaventi commented on #15
Looks good

[2015-03-18 21:01] #15 closed

[2015-03-18 21:03] nickpaventi commented on #16
Social links not 100% in-line but this can be revisited once the correct font is applied throughout the site

[2015-03-18 21:04] nickpaventi commented on #21
all set

[2015-03-18 21:04] #21 closed

[2015-03-18 21:10] nickpaventi commented on #22
You are right, I had an old comp

[2015-03-18 21:10] #22 closed

[2015-03-18 21:41] nickpaventi commented on #10
Looks good

[2015-03-18 21:41] #10 closed

[2015-03-18 21:44] nickpaventi commented on #24
@thompsizzle - Looks better, still too much space between the links directly under Customer Support. Too much space under and above the social icons

[2015-03-18 22:41] thompsizzle commented on #13
Try again for mobile. See if it looks better now.

[2015-03-18 22:41] thompsizzle commented on #24
Okay. Should look better now!

[2015-03-19 01:51] thompsizzle commented on #8
Complete

[2015-03-19 07:38] thompsizzle commented on #20
Complete.

[2015-03-23 02:07] #8 closed

[2015-03-23 21:18] mikewestaz opened #48 "Home: Main header bounding issues"
- [ ] Copy should not extend past the width of the site (see screen shot)
- [ ] CTA should be set width and not extend the width of the screen (see screen shot)

Reference original comp: http://invis.io/3F2F4N1KD

![home-culligan](https://cloud.githubusercontent.com/assets/10550484/6790792/62ac8f2e-d167-11e4-8466-8e6c71dbc2a1.png)

[2015-03-23 21:22] mikewestaz opened #49 "Home: Main hero text size change"
Font size for ``.hero-headline`` should be ``font-size: 70px;letter-spacing: -2px;``

[2015-03-23 21:43] #7 closed

[2015-03-23 21:43] #9 closed

[2015-03-23 21:43] #11 closed

[2015-03-23 21:43] #12 closed

[2015-03-23 21:43] #13 closed

[2015-03-23 21:43] #14 closed

[2015-03-23 21:44] #16 closed

[2015-03-23 21:44] #17 closed

[2015-03-23 21:44] #18 closed

[2015-03-23 21:44] #19 closed

[2015-03-23 21:44] #20 closed

[2015-03-23 21:44] #23 closed

[2015-03-23 21:45] #24 closed

[2015-03-23 22:24] #48 closed

[2015-03-23 22:24] #49 closed

[2015-03-24 03:45] mikewestaz opened #50 "Global: Header style"
Tested the letter spacing around ``.hero-headline``  can we set to ``letter-spacing: -2px;``  or ``letter-spacing: -.03em;`` (em per @seanriceaz recommendation when we were talking at your desk @nickpaventi )

[2015-03-24 03:50] mikewestaz opened #51 "Global [Desktop + Tablet]: Top and product navigation needs adjustment for smaller screens"
Need to adjust padding or styles to allow for the smaller screens to not have the buttons stack/wrap as they do now (applies to tablet as well). Maybe breakpoint for tablet to receive the mobile nav should be lower? 768 or 800?

![screenshot 2015-03-23 20 49 39](https://cloud.githubusercontent.com/assets/10550484/6795515/259b179a-d19e-11e4-95fd-706b8628cf85.png)

![screenshot 2015-03-23 20 46 20](

[2015-03-24 03:53] mikewestaz opened #52 "Global: H1 needs adjustment for letter spacing & size"
Recommend adjusting H1 to up the point size and reduce letter spacing to better match comp.

``h1 {
  font-size: 56px !important;
  letter-spacing: -.03em;
  font-weight: 800 !important;
}
``

![h1](https://cloud.githubusercontent.com/assets/10550484/6795545/b8859c1a-d19e-11e4-97d5-83b225dd3b41.png)

[2015-03-24 04:02] mikewestaz opened #53 "Global: Product navigation spacing needs adjustment"
This might take a little more adjustment and testing, but recommend adjusting ``.site-navigation ul li a``  to use ``padding: 12px 12px;``

This (at least testing in my browser) allows the product menu to fit on a 1024 wide screen.

[2015-03-24 04:09] #52 closed

[2015-03-24 04:09] mikewestaz opened #54 "Global: Body copy"
Discovered on the home page (see screen shot) the font should be Open Sans (not DIN). Also, seems like this should be the basic copy style for a ``<p>`` or something like that? There's a very specific style applied as it is now.

![body-copy](https://cloud.githubusercontent.com/assets/10550484/6795653/fb3f568e-d1a0-11e4-8b88-05c9ca3712cb.png)

[2015-03-24 04:14] mikewestaz opened #55 "Home: Product Feature"
The copy under the Shower Head Feature should be Open Sans (not DIN) per the comp. Should be the same as the body copy mentioned in https://github.com/nickpaventi/culligan-diy/issues/54 except white.

![green-feature](https://cloud.githubusercontent.com/assets/10550484/6795666/4e8f4812-d1a1-11e4-8a47-fa149d28ba29.png)

[2015-03-24 04:16] mikewestaz opened #56 "Home [Tablet]: Product Feature"
The 4 buttons under the feature copy need wrapping fixed.

![screenshot 2015-03-23 21 17 04](https://cloud.githubusercontent.com/assets/10550484/6795712/00fb7052-d1a2-11e4-88d0-5d128d034e6b.png)

![screenshot 2015-03-23 21 15 06](https://cloud.githubusercontent.com/assets/10550484/6795701/cd5c89de-d1a1-11e4-88f8-112582c6d09a.png)

[2015-03-24 04:26] mikewestaz opened #57 "Home [Mobile]: Product display needs adjustment"
The display of products is not looking good on smaller devices (even iPhone 6+)

Recommend product image is centered above copy, text left justified below image. (let me know if you want to review or work on this together as I realize this is a little in-browser design to solve)

![product](https://cloud.githubusercontent.com/assets/10550484/6795773/390716bc-d1a3-11e4-834b-2cf3e30d881b.png)

[2015-03-24 04:27] #54 closed

[2015-03-24 04:27] #55 closed

[2015-03-24 04:27] #56 closed

[2015-03-24 04:29] mikewestaz opened #58 "Home [Mobile]: Product feature CTA wrong color"
Button is the wrong color and needs padding on each side

![button color](https://cloud.githubusercontent.com/assets/10550484/6795806/a3b0aeba-d1a3-11e4-860e-27e16857dccc.png)

[2015-03-24 04:35] #57 closed

[2015-03-24 04:37] #53 closed

[2015-03-24 04:38] mikewestaz opened #59 "Global Footer [Mobile]: Font size adjustment"
- [ ] Recommend changing the link size under Customer Support and at the very bottom in mobile from 18px to 16px
``font-size: 16px;``
- [ ] Recommend adding line height to the copy under Join the mailing list at ``line-height: 27px;``
- [ ] Join button is taller than the text field (screen shot attached)

![footer](https://cloud.githubusercontent.com/assets/10550484/6795880/5aa496da-d1a5-11e4-88de

[2015-03-24 04:43] #58 closed

[2015-03-24 04:44] mikewestaz opened #60 "Global Navigation [Mobile]: DIY Text adjustment needed"
If the 'Do it yourself' text needs to wrap, it should align with the left edge of the 'C' in the logo

![screenshot 2015-03-23 21 42 59](https://cloud.githubusercontent.com/assets/10550484/6795901/bde75700-d1a5-11e4-87b5-8b3e78931463.png)

[2015-03-24 04:57] #59 closed

[2015-03-24 04:57] #60 closed

[2015-03-24 05:02] nickpaventi commented on #50
this has been added

[2015-03-24 05:02] #50 closed

[2015-03-25 18:39] nickpaventi opened #61 "Global JS error"
Need to fix
![screen shot 2015-03-25 at 11 38 39 am](https://cloud.githubusercontent.com/assets/10563172/6832426/9ddd2cc0-d2e3-11e4-8698-8498f250acb9.png)

[2015-03-25 18:40] nickpaventi opened #62 "Product detail sidebar"
Need to update styles
![screen shot 2015-03-25 at 11 38 28 am](https://cloud.githubusercontent.com/assets/10563172/6832435/ab6b5934-d2e3-11e4-9415-f122a70fa967.png)

[2015-03-25 18:57] #62 closed

[2015-03-25 22:57] #61 closed

[2015-03-25 23:10] nickpaventi commented on #51
This is resolved, we show the mobile nav at 1023px and under

[2015-03-25 23:10] #51 closed

[2015-04-08 22:35] MartyBeckers opened #63 "Green product teaser box styling"
The green teaser boxes like the ones at http://culligandiy.dev.ethology.com/category-landing/, http://dev.culligandiy.com/Undersink-Systems, and http://dev.culligandiy.com/Undersink-Systems/Ultra-Filtration-Systems/3-Stage-Ultrafiltration-Drinking-Water-System look good when there are four with the same height, but when there are two or three they get spread out with a gap in between and the varyi

[2015-04-08 22:36] MartyBeckers opened #64 "IE font error"
A JavaScript error that reads “@font-face failed OpenType embedding permission check. Permission must be Installable.” prevents the correct font from displaying in the header with Internet Explorer

[2015-04-08 22:36] MartyBeckers opened #65 "Phone number in footer is a link"
The phone number in the footer is currently configured as an empty link with a hand on rollover rather than just text

[2015-04-08 22:36] MartyBeckers opened #66 "The social media icons in the footer are displaying as gray instead of white"

[2015-04-08 22:37] MartyBeckers opened #67 "Video keeps playing after being closed"
The product at http://dev.culligandiy.com/Shower-Head-Filters/Wall-Mount/RainDisc-Filtered-Showerhead has been configured with placeholder photos/videos for testing and clicking the video and closing it results in the video continuing to play in the background

[2015-04-08 22:38] MartyBeckers opened #68 "Contact Pages: Contact your Culligan Man link incorrect"
The contact/product support pages (http://dev.culligandiy.com/Contact-Us and http://dev.culligandiy.com/Support) have a panel in the bottom-right for contacting Culligan, but that would just go to the same page – should it be hidden on one or the other?

[2015-04-08 22:38] MartyBeckers opened #69 "Selected page in mobile header don't highlight"
The mobile header “Solution Guide” and “Find a Retailer” buttons don’t stay highlighted on those pages in the same way the desktop header buttons do

[2015-04-09 01:00] mikewestaz opened #70 "Update all marketing photography"
Tracking sheet for images is located here:
https://docs.google.com/a/ethology.com/spreadsheets/d/1PyCH6n2UvXViw7LaDdRNiD42N5iUPlEkyg9YY-PbeDI/edit#gid=1312084835

Optimized assets located here:
https://drive.google.com/a/tallwave.com/folderview?id=0BzVs2iiEx4OMREctLVREQ01xU2s&usp=sharing

See @mikewestaz with questions

[2015-04-09 01:21] mikewestaz opened #71 "Global Navigation [DESKTOP]: Needs style updates"
- [x] Font is incorrect. DEV shows Open Sans should be DIN Medium.
- [x] When hovering the text changes position (shifts right). It should not.
- [x] When clicking in the search field, the background should not turn white, just the text should be white.
- [x] Horizontal positioning of the top bar is all over the place, all text should follow the same baseline (see screen shot attached vs comp: htt

[2015-04-09 01:45] mikewestaz opened #72 "Global Navigation [TABLET]: Needs style updates"
**Horizontal 1024**
- [x] There are positioning issues to resolve within the top-navigation bar in 1024 viewport (see screen shot).
- [x] If we need to drop the 'Do it yourself' text under the logo that is fine, just add some padding between the logo and the text.
- [x] Need 'Solutions' and 'Retailer' links to flow horizontally.
- [x] I am able to scroll right and see a white gap on the right edge

[2015-04-09 02:03] mikewestaz opened #73 "Global Navigation [MOBILE]: Needs style updates"
**At 320**
- [x] 'Do it yourself' text is cut off (see screen shot)
- [x] 'X' to close is positioned too far right (see screen shot)

(+ same issues from small-tablet view issue https://github.com/nickpaventi/culligan-diy/issues/72 apply here )

![screenshot 2015-04-08 18 58 57](https://cloud.githubusercontent.com/assets/10550484/7059181/55328ad0-de21-11e4-95c6-a3c4792076d1.png)

![screenshot 2015

[2015-04-09 02:17] mikewestaz commented on #63
To elaborate on @MartyBeckers original ticket...
- [ ] If the products are 3-up they should center, leaving the gap on the left and right sides of the group, not between the products (or left justified as a fallback)
- [ ] If the products are 1 or 2-up (as seen under 'wall mount' here: http://dev.culligandiy.com/Shower-Head-Filters) then the alternate, 2-up horizontal product layout should be used

[2015-04-09 02:21] mikewestaz opened #74 "Update product photography"
All product photography in the product listings and on the product detail pages should be the transparent PNG files Connie delivered.

[2015-04-09 02:28] mikewestaz opened #75 "Global Product Listings: Need style updates"
- [x] Product name needs more line height. Recommend ``line-height: 1.3;``
- [x] Should be able to click anywhere (except the tags) and go to the product detail page. Currently, you have to click the words 'View details'
- [x] Product description text should be Open Sans, currently DIN
- [x] Hover should have same smooth fade transition as other buttons and navigation elements
- [x] 'View Details'

[2015-04-09 15:57] nickpaventi commented on #63
@MartyBeckers for part 1 of this I'm going to need some help from you. Can you add a counter and some logic that says:

if number of products = 3 then add the class "large-offset-2" to the first div class="small-12 medium-6 large-3 columns" inside div class="row featured-products".

Add the class "end" to the last div class="small-12 medium-6 large-3 columns" inside div class="row featured-product

[2015-04-09 15:59] nickpaventi commented on #63
@MartyBeckers part 2 I will also need some logic added, but it's much simpler.

if number of products < 3 then remove the class "large-3" from div class="small-12 medium-6 large-3 columns" inside div class="row featured-products".

[2015-04-09 16:55] MartyBeckers commented on #63
You bet, I'm happy to implement changes like this once the classes are in place.  I'm a little fuzzy on the logic though so please confirm this is all correct:
1 column total, column 1: add "end", remove "large-3"
2 columns total, column 1: remove "large-3"
2 columns total, column 2: add "end", remove "large-3"
3 columns total, column 1: add "large-offset-2"
3 columns total, column 2: no change
3

[2015-04-09 17:02] mikewestaz opened #76 "Global [Desktop]: H1 needs line height adjustment"
Recommend changing line height from 1.4 to ``line-height: 1.2;``

[2015-04-09 17:28] mikewestaz commented on #63
@MartyBeckers and @nickpaventi
Following up on my note above re. handling the product display with this larger than anticipated volume of content, attached is something Nick has already implemented from a design POV so attaching for reference.

Making the product display wider and adjusting the tag display a little. Will create other tickets as needed after these get implemented to finesse.

![scr

[2015-04-09 17:31] nickpaventi commented on #63
@MartyBeckers you had it right, but per @mikewestaz comment above we are going to max out at 2 cols (not 4). So the following should be all you need to do:

remove "large-3" from all columns
1 column total, column 1: add "end"

[2015-04-09 17:47] mikewestaz opened #77 "Home [Desktop & Tablet]: Remove shadow on CTA in header"
Remove the shadow effect from the CTA

![cta-header](https://cloud.githubusercontent.com/assets/10550484/7073090/d497043e-dea5-11e4-99ac-6c51e94fda22.png)

[2015-04-09 17:52] mikewestaz opened #78 "Home [Desktop & Tablet]: CTAs in product feature do not function"
When clicking the feature product CTAs no product search is returned

![home-feature-ctas](https://cloud.githubusercontent.com/assets/10550484/7073182/79e5ee6e-dea6-11e4-9d25-2e7c00a76133.png)

[2015-04-09 17:56] nickpaventi commented on #63
@mikewestaz @MartyBeckers sorry for the back and forth here, this is the final direction:

1 column total, column 1: add "end", remove "large-3"
2 columns total, column 1: remove "large-3"
2 columns total, column 2: add "end", remove "large-3"
3 columns total, column 1: add "large-offset-2"
3 columns total, column 2: no change
3 columns total, column 3: add "end"
4 columns total, columns 1-4: no c

[2015-04-09 18:01] nickpaventi commented on #63
@MartyBeckers can you add the following JS to the featured-products div to set equal heights:

[code]

[2015-04-09 18:03] nickpaventi commented on #65
@MartyBeckers can you add href="tel:" to that link so it's a click to call on mobile?

[2015-04-09 18:05] mikewestaz opened #79 "Home: 'Innovating' header needs spacing adjustment"
- [ ] Recommend changing padding on ``class="innovative-header"``  to ``padding: 55px 0px;``
- [x] Adjust the space between the Innovative header and the water to be 1/2 the space (see screen shot and original comp: http://invis.io/3F2F4N1KD)

![culligan-innovates-padding](https://cloud.githubusercontent.com/assets/10550484/7073409/33b6a4ea-dea8-11e4-948a-095c549d8d9c.png)

[2015-04-09 18:06] nickpaventi commented on #66
@MartyBeckers this was fixed in CSS

[2015-04-09 18:06] #66 closed

[2015-04-09 18:07] nickpaventi commented on #68
@mikewestaz any insight on this?

[2015-04-09 18:09] nickpaventi commented on #69
@MartyBeckers can you change the class for these buttons when you are on each page from dark-button to dark-button-active? That will close this out

[2015-04-09 18:24] zheindel opened #80 "Change 2 long tags"
Hi @nickpaventi & @mikewestaz - Client said for the tags for the products we can edit down the below two:

Change "Cysts such as Cryptosporidium & Giardia" to “Cysts”.
Change "Aesthetic Chlorine Taste & Odor" to “Chlorine”.

I was going to make the update myself but I had a hard time finding out where that change could be made, and also didn't want to mess up anything else that was going on.  Coul

[2015-04-09 19:03] nickpaventi commented on #71
@mikewestaz I don't see the hover position changing

[2015-04-09 19:28] nickpaventi commented on #77
Fixed

[2015-04-09 19:28] #77 closed

[2015-04-09 19:41] mikewestaz opened #81 "Home: Font weight change needed on 'innovation' header"
The font looks like a lighter weight, even though it's also set to 800.
Needs to look like the bold font used in the header/h1's

![innovatino-header-text](https://cloud.githubusercontent.com/assets/10550484/7075303/b9e867ee-deb5-11e4-8843-c7760061ea82.png)

[2015-04-09 19:43] mikewestaz opened #82 "Home: Learn More CTA should line up with quote"
Left edges should be aligned. See screen shot

![home-quote-cta](https://cloud.githubusercontent.com/assets/10550484/7075346/0e3005d2-deb6-11e4-945c-eaefc7a02ad9.png)

[2015-04-09 19:45] mikewestaz opened #83 "Global Footer: Grey text links need hover"
Grey text links within the footer should fade to white on hover

[2015-04-09 19:47] mikewestaz commented on #71
It's gone now @nickpaventi if you want to close ticket. I'll reopen if it comes back.

[2015-04-09 19:53] mikewestaz opened #84 "Global Footer: Email signup refreshes page"
When signing up for the email list clicking submit should not refresh the page. The message should appear in place of the form without refresh.

@zheindel - have you/the client reviewed the message copy that is returned? See screen shot, I think we should probably revise if this isn't from the client.

![screenshot 2015-04-09 12 53 05](https://cloud.githubusercontent.com/assets/10550484/7075498/62

[2015-04-09 19:56] nickpaventi commented on #76
Added

[2015-04-09 19:56] #76 closed

[2015-04-09 19:56] zheindel commented on #84
@mikewestaz - Client hasn't reviewed this is just the general Kentico plugin I believe.  We can change that to whatever, just let me know or Tag Marty in here what to change that too.  Maybe Just..."Thank you for joining the mailing list!"

[2015-04-09 20:00] mikewestaz opened #85 "Global Product Listings: Hover causes text to shift"
Text updates and hover effects were added and look good, however text shifting bug was introduced.

See screen recording:
https://www.dropbox.com/s/zr4ol28irc1rmar/hover-issues.mov?dl=0

[2015-04-09 20:12] mikewestaz opened #86 "Global Product Listings [TABLET]: Hover causes text to shift"
At 1024 width:
Columns are off and don't flow. This might be resolved with closing JS portion of https://github.com/nickpaventi/culligan-diy/issues/63

https://www.dropbox.com/s/22n6wtlezrpxa7i/tablet-columns-off.mov?dl=0

[2015-04-09 20:13] #85 closed

[2015-04-09 20:14] mikewestaz commented on #75
Pulled from new ticket since this appears to be related:
Text updates and hover effects were added and look good, however text shifting bug was introduced.

See screen recording:
https://www.dropbox.com/s/zr4ol28irc1rmar/hover-issues.mov?dl=0

[2015-04-09 20:16] mikewestaz opened #87 "Home [Tablet]: Quote is missing padding"
Should have equal padding below the text as is above it (blue)

![tablet-home-quote-missing-padding](https://cloud.githubusercontent.com/assets/10550484/7075952/a205bc58-deba-11e4-92cb-c2325f8a2604.png)

[2015-04-09 20:19] mikewestaz opened #88 "Home [Tablet]: Header copy should be 50% of screen"
When in 768 view, the blue mask and the copy should be allowed 50% of the screen. It's too tight as is.

![768-header](https://cloud.githubusercontent.com/assets/10550484/7076007/0fd966a8-debb-11e4-8a17-e31d0f574796.png)

[2015-04-09 20:21] mikewestaz opened #89 "Home [Tablet]: Blue dots too congested"
When in 768 view, space is too congested. Blue dots and supporting text should be hidden

![768-blue-dots](https://cloud.githubusercontent.com/assets/10550484/7076040/576d0718-debb-11e4-9e4f-18d587064323.png)

[2015-04-09 20:24] mikewestaz opened #90 "Home [Tablet]: Blue background behind quote stops short"
The blue background behind the quote ends early. The white quote text is unreadable, creates large space before the CTA

![blue-quote-background](https://cloud.githubusercontent.com/assets/10550484/7076071/acd937a8-debb-11e4-8b40-19f072692c39.png)

[2015-04-09 20:29] nickpaventi commented on #78
@MartyBeckers can you take a look at this. I believe these should function as search buttons @mikewestaz please confirm

[2015-04-09 20:29] mikewestaz opened #91 "Home [Mobile]: Header text needs adjustment"
There's an in-line style adding a large amount of padding and needs to be removed
``<div class="half-background-image" style="padding-left: 84px;">``

Also, recommend for mobile font size change to ``font-size: 45px;``

![screenshot 2015-04-09 13 26 12](https://cloud.githubusercontent.com/assets/10550484/7076127/1339b680-debc-11e4-9233-9ffc7d93e771.png)

[2015-04-09 20:33] nickpaventi commented on #80
@zheindel I believe this is something that needs to be changed in the CMS @MartyBeckers can you confirm?

[2015-04-09 20:34] nickpaventi commented on #81
Fixed

[2015-04-09 20:34] #81 closed

[2015-04-09 20:40] mikewestaz opened #92 "Home [Mobile]: Padding needed between title and tags"
The copy is removed between the title and the solution tags (correct) however need padding above the 'perfect solution...' text

add ``padding-top: 15px;``

![gap-is-missing](https://cloud.githubusercontent.com/assets/10550484/7076355/a6246e26-debd-11e4-83ba-ae758b8eb05c.png)

[2015-04-09 20:40] nickpaventi commented on #82
Fixed

[2015-04-09 20:40] #82 closed

[2015-04-09 20:43] nickpaventi commented on #83
Fixed

[2015-04-09 20:43] #83 closed

[2015-04-09 20:46] mikewestaz opened #93 "Home [Mobile]: Quote attribution needs padding"
Should be some space between the attribution and the quote

Needs ``padding-top:20px;``

![mobile-quote](https://cloud.githubusercontent.com/assets/10550484/7076463/74300f0a-debe-11e4-9682-563f6e239098.png)

[2015-04-09 20:49] mikewestaz opened #94 "Global Footer [Mobile]: Links at the bottom need style adjustment"
- [x] Wrapped list needs line height increased
- [x] Spacing between Copyright and first pipe is off
- [x] Margin on the left of the list is bigger than the margin on the left of the copyright

![mobile-footer](https://cloud.githubusercontent.com/assets/10550484/7076579/461fda18-debf-11e4-8857-967b8dbc0864.png)

[2015-04-09 20:52] zheindel opened #95 "Change 2 long tags"
Hi @nickpaventi & @mikewestaz - Client said for the tags for the products we can edit down the below two:

Change "Cysts such as Cryptosporidium & Giardia" to “Cysts”.
Change "Aesthetic Chlorine Taste & Odor" to “Chlorine”.

I was going to make the update myself but I had a hard time finding out where that change could be made, and also didn't want to mess up anything else that was going on.  Coul

[2015-04-09 20:53] #95 closed

[2015-04-09 20:54] mikewestaz opened #96 "Global Product Listings [Mobile]: Product names need line height added"
Additional line height needed in the product titles for mobile
Change to ``line-height: 1.3;``

[2015-04-09 20:54] zheindel opened #97 "Clicking on Featured Products"
@nickpaventi - can we make it so the whole space is clickable and not just the "View Details" of the product when you scroll over please?
![screen shot 2015-04-09 at 1 51 14 pm](https://cloud.githubusercontent.com/assets/11874973/7076694/fef75e26-debf-11e4-9cba-30050b29feb4.png)

[2015-04-09 20:55] mikewestaz commented on #78
That's correct, these should be search terms

[2015-04-09 21:15] mikewestaz commented on #97
Closing this is a duplicate ticket

[2015-04-09 21:15] #97 closed

[2015-04-09 21:18] mikewestaz opened #98 "Global Footer [Mobile]: Headers are too large on mobile"
Adjust to be ``font-size: 34px;``

![footer-too-big](https://cloud.githubusercontent.com/assets/10550484/7077118/34bd99e6-dec3-11e4-8797-b6f7f153ddd6.png)

[2015-04-09 21:23] MartyBeckers commented on #63
Ok these changes are all in place, although it looks like the jQuery may need some refinements.  If you want to test your changes on the site, it's at http://dev.culligandiy.com/CMSSiteManager/ > Development > Page templates > Culligan DIY > Culligan DIY Master > Header.

[2015-04-09 21:31] MartyBeckers commented on #65
Ok that's in place

[2015-04-09 21:31] #65 closed

[2015-04-09 21:35] MartyBeckers commented on #69
That's already how the links work in the desktop header, but the mobile header doesn't use the "dark-button" class (its only class is mobile-social).  I can apply "dark-button-active" to it, but that would make it a dark gray like this:

![image](https://cloud.githubusercontent.com/assets/11283011/7077425/8578e352-dec5-11e4-827a-8ae4d0fe9efb.png)

Instead of the normal blue like this:

![image](ht

[2015-04-09 21:43] MartyBeckers commented on #78
That's placeholder content that employees can edit in the CMS, but I've added the links in this format: /Search/?searchtext=Rain%20Disc

[2015-04-09 21:43] #78 closed

[2015-04-09 21:48] MartyBeckers commented on #80
Yes the categories are easy to change, but hard to find.  I've shortened these and for future reference they are located at http://dev.culligandiy.com/CMSDesk/ > Administration > Categories > Culligan > Solution

[2015-04-09 21:48] #80 closed

[2015-04-09 22:04] mikewestaz opened #99 "Product Category: Feature #1 tag needs adjustments"
Sample page: http://dev.culligandiy.com/Undersink-Systems

- [x] The tags need the same adjustments @nickpaventi made to the product listings to improve readability and wrapping
- [ ] Tags need hover color change

![screenshot 2015-04-09 15 03 54](https://cloud.githubusercontent.com/assets/10550484/7077924/a6af14de-dec9-11e4-873a-5dcc48ec117f.png)

[2015-04-09 22:20] mikewestaz opened #100 "Product Category: Feature #1 & 2 Images"
Sample page: http://dev.culligandiy.com/Undersink-Systems

These image slots were originally designed to be lifestyle images cropped landscape. Looks like we are getting only product images (square) so need to make some adjustments...

No. 1 Feature appears to handle square fine. No changes needed.

No. 2 Feature should bring the image in to the left, leaving as much padding on the right as there

[2015-04-09 22:26] mikewestaz opened #101 "Product Category: Feature #2 needs style adjustments"
- [x] The copy should be same font color, size and line height as ``p`` at the top of the page
- [x] 'The Perfect Solution for' should be all capps
- [x] Add padding below 'The Perfect...' title to separate from the tags
- [x] View Details CTA should have same rounded corners as all other CTAs

![feature-2-styles](https://cloud.githubusercontent.com/assets/10550484/7078308/c465286c-decc-11e4-821b-

[2015-04-09 22:32] mikewestaz opened #102 "Product Category [Tablet]: Product listing needs adjustments"
At 1024 view
- [x] Need to add padding between end of feature and beginning of product row
- [x] Product listing row should be updated to match functionality seen on homepage (http://dev.culligandiy.com/)

![screenshot 2015-04-09 15 29 58](https://cloud.githubusercontent.com/assets/10550484/7078394/7d87c8cc-decd-11e4-8a08-9d73d63f818e.png)

[2015-04-09 22:35] mikewestaz opened #103 "Product Category: Left justify sub-category navigation"
Left justify the sub-category navigation

![left-justify](https://cloud.githubusercontent.com/assets/10550484/7078450/f42241e2-decd-11e4-9d31-3e6bcd6c53f6.png)

[2015-04-09 22:42] mikewestaz opened #104 "Product Category [Tablet]: Sub-category menu functionality needs to change"
At 768 view
Sample: http://dev.culligandiy.com/Undersink-Systems

The stacking of the sub-categories isn't working here, especially when there is a longer list.
Recommend implementing what @nickpaventi did on Insight.com project using the '+' expanding menu.

- [x] Add expandable menu used on Insight.com ('+')
- [x] Label should read 'Choose a system' or 'Choose a filter type' depending on the cat

[2015-04-09 22:50] mikewestaz opened #105 "Product Category [Mobile]: Feature #1 and 2 need style updates"
**Feature 1**
- [x] Add consistent padding to left and right of feature content, currently touches left edge
- [x] Add padding between product name and 'perfect solution...' title

**Feature 2**
- [x] Image and content should flow like Feature 1
- [x] Colors may need to change for tags, content and CTA to work in this new flow
- [x] Should not be a border on the blue CTA

Let's discuss real time i

[2015-04-09 23:01] mikewestaz opened #106 "Product Category [Desktop]: Longer sub-category menu solution needed"
Example: http://dev.culligandiy.com/Replacements

- [ ] Need to adjust the names of these sub-categories to fit on one line or find another solution
- [ ] Suggestion: Rename all to '*Section* Replacements' instead of '*Section* Filters & Parts'

Thoughts @zheindel ?
cc @nickpaventi

![screenshot 2015-04-09 15 58 25](https://cloud.githubusercontent.com/assets/10550484/7078809/b0b1610a-ded1-11e4-8f8

[2015-04-09 23:07] zheindel commented on #106
@mikewestaz I agree to replace that to "Replacements" where it says "Filters & Parts"

[2015-04-09 23:20] nickpaventi commented on #87
@MartyBeckers can you add this JS (or show me where to) for the blue-banner section?

[code]

[2015-04-09 23:37] MartyBeckers commented on #87
Sure, that's in place except that the document ready piece needs to be:

jQuery(document).ready(function($) {

because of a conflict with the Kentico jQuery library.  Then within the function, the dollar sign can be used again.  And for future reference, template-specific JavaScript can be placed in http://dev.culligandiy.com/CMSSiteManager/ > Development > Page templates > Culligan DIY > [templat

[2015-04-09 23:37] #87 closed

[2015-04-09 23:46] mikewestaz opened #107 "Product Detail [Desktop]: Needs attention"
Sample page: http://dev.culligandiy.com/Replacements/Under-Sink-Systems/3-Stage-Ultrafiltration-Drinking-Water-Replacement
Comp: http://invis.io/BT2ETVL9Q

@zheindel @nickpaventi there's **a lot** of issues here. Please review and let me know if you have questions.

- [ ] **I can't find any exclusive Lowes products to be able to test the display differences needed on this page. Has this been imple

[2015-04-09 23:46] nickpaventi commented on #87
Got it, thanks!

[2015-04-09 23:49] zheindel commented on #107
@mikewestaz  I just messaged @MartyBeckers I don't think we can view any of the Lowe's products that were added.  Can you take a look at this, I sent you an email on this just a few minutes ago.

[2015-04-09 23:51] nickpaventi commented on #90
Fix via #87

[2015-04-09 23:51] #90 closed

[2015-04-09 23:53] nickpaventi commented on #98
fixed

[2015-04-09 23:53] #98 closed

[2015-04-09 23:55] nickpaventi commented on #96
Fixed

[2015-04-09 23:55] #96 closed

[2015-04-10 00:01] MartyBeckers commented on #107
No Lowe's products have been added yet, but as soon as they are, the Lowe's panels will automatically display.  For an example of a product with placeholder images and a video, you can refer to http://dev.culligandiy.com/Shower-Head-Filters/Wall-Mount/RainDisc-Filtered-Showerhead

[2015-04-10 00:05] mikewestaz commented on #107
Thanks @MartyBeckers - some of the issues noted above specifically apply to the non-lowes products. The CTA and bar+CTA that you mentioned should still be in the page for the Non-Lowes products, with different verbiage and no Lowes badging.

Should we get on a quick call to discuss or do the items above make sense?
Example: *Missing the full-width blue bar for find a retailer (should either say "F

[2015-04-10 00:06] nickpaventi commented on #93
@MartyBeckers for this one I think we need to wrap the quote author in a span and then add this padding? I added the css style, can you wrap that in the span? I can't seem to find it.

[2015-04-10 00:07] MartyBeckers commented on #107
Ahh ok, in that case we'll need to make some back-end changes to the templates.  If you can send a quick mockup showing how each panel should look for non-Lowe's products, I can put that in place.

[2015-04-10 00:10] mikewestaz commented on #107
@MartyBeckers
Couple screen shots below show the two areas w/ copy and branding changes...

![screenshot 2015-04-09 17 09 01](https://cloud.githubusercontent.com/assets/10550484/7079609/226b3d3a-dedb-11e4-862f-2d4a467d2be1.png)

![screenshot 2015-04-09 17 09 40](https://cloud.githubusercontent.com/assets/10550484/7079625/549a70fa-dedb-11e4-9101-dbde902cc443.png)

cc @nickpaventi @zheindel

[2015-04-10 00:12] mikewestaz commented on #69
@MartyBeckers I think the grey is fine.

[2015-04-10 00:15] MartyBeckers commented on #107
Perfect - and I'm assuming "Find a Retailer Near You" should go to http://dev.culligandiy.com/find-a-retailer/, but where should "buy it from a dealer" go to?

[2015-04-10 00:15] nickpaventi commented on #92
fixed

[2015-04-10 00:15] #92 closed

[2015-04-10 00:19] mikewestaz commented on #107
@MartyBeckers Correct, please link the other to http://www.culligan.com/en-us/d/explore-my-state/

[2015-04-10 00:21] mikewestaz commented on #84
@zheindel @nickpaventi  - yes, let's just remove the second sentence

[2015-04-10 00:23] mikewestaz commented on #107
@MartyBeckers **CORRECTION** LINK TO : http://www.culligan.com/en-us/d/appointment/schedule-an-appointment/

[2015-04-10 00:24] mikewestaz commented on #68
@MartyBeckers @nickpaventi This should link to http://www.culligan.com/en-us/d/appointment/schedule-an-appointment/

[2015-04-10 00:34] mikewestaz opened #108 "Product Detail [Mobile]: Product name needs padding between image and text"
Add 15-20 pixels of padding above the product name

![add-padding-mobile](https://cloud.githubusercontent.com/assets/10550484/7079860/9e5499f2-dede-11e4-8647-d68ce303f9fc.png)

[2015-04-10 00:36] mikewestaz opened #109 "Product Detail [Mobile]: Warranty text needs alignment adjusted"
Align left with icons from the buttons below

![scoot-warranty-over](https://cloud.githubusercontent.com/assets/10550484/7079875/e12eae84-dede-11e4-965c-1ff61381e764.png)

[2015-04-10 00:40] mikewestaz opened #110 "Product Detail [Mobile]: Overview tab"
The perfect solution and tabs should be included in the Overview tab (when it's closed these items should be hidden as well)

![content-in-tab](https://cloud.githubusercontent.com/assets/10550484/7079922/75db460a-dedf-11e4-82ee-402283b7b146.png)

[2015-04-10 00:52] mikewestaz opened #111 "Solution Center: Font size for lists should be larger"
Currently the font size is 14px, please update to 16px

[2015-04-10 01:27] MartyBeckers commented on #93
Ok I've wrapped it in a span and that's in http://dev.culligandiy.com/CMSSiteManager/ > Development > Page Templates > Culligan DIY > Culligan DIY Home > Design > the little sprocket on "Drinking Water Quote" (it's also an editable piece of content)

[2015-04-10 01:35] nickpaventi commented on #93
Thanks!

[2015-04-10 01:35] #93 closed

[2015-04-10 02:00] MartyBeckers commented on #107
Ok the "Find a Retailer Near You" changes are in place.  Regarding the "Easy Installation" note, that's a true/false checkbox that we migrated from the original Ektron site.  Essentially a product is either easy to install or its not (showing or hiding that image), so if we were to make it editable text per product, I don't think it would ever be different.

[2015-04-10 02:13] MartyBeckers commented on #69
Ok that's in place.

[2015-04-10 02:13] #69 closed

[2015-04-10 02:23] nickpaventi commented on #63
Yes the jQuery needs a little work and after 2 hours tweaking it I will revisit in the AM...

[2015-04-10 15:04] #71 closed

[2015-04-10 15:06] nickpaventi commented on #74
@zheindel this should be able to be done by the client or someone with content entry permissions

[2015-04-10 15:38] MartyBeckers opened #112 "Footer: (From QA) New telephone link issues"
In both IE and Chrome, clicking the phone number in the footer causes an error to occur:
a.  In IE, clicking the phone number takes the user to a Page cannot be displayed error with tel://1-800-721-9243/ in the URL window.
b.  In Chrome, clicking the phone number just refreshes the page and does nothing.

[2015-04-10 15:40] MartyBeckers opened #113 "Product Teasers: (From QA) Hover causes distortion"
In both IE and Chrome, hovering over the green product teaser boxes (such as the ones for the related products) causes the text word wrapping to shift.  Click the Replacements link, then scroll to the bottom and hover back and forth over the “Shower Head Filters & Parts” box: The thickness of the box border is causing the text to wrap differently when in a hovered and non-hovered state.

[2015-04-10 15:42] MartyBeckers opened #114 "Header Search Box: (From QA) Broken and missing watermark in IE"
The word, “Search” is missing from the search box:

![image](https://cloud.githubusercontent.com/assets/11283011/7091267/6afedaf2-df5d-11e4-9ef3-c07368d21f13.png)

and Search functionality is completely broken (typing text in the box does nothing)

[2015-04-10 15:43] MartyBeckers opened #115 "Footer [Mobile]: (From QA) Social media icons are the wrong color"
Footer social media icons are gray in mobile and they should be white to match mockups and the desktop icons

[2015-04-10 15:49] nickpaventi commented on #115
Fixed

[2015-04-10 15:49] #115 closed

[2015-04-10 15:52] nickpaventi commented on #113
Closing. Related to #63

[2015-04-10 15:52] #113 closed

[2015-04-10 15:52] MartyBeckers opened #116 "Footer [Mobile]: (From QA) Space between the links"
The Product Manual Library and Call Us are too close together on mobile:

![image](https://cloud.githubusercontent.com/assets/11283011/7091497/f13284d8-df5e-11e4-9c58-0c183d5c99af.png)

[2015-04-10 15:54] MartyBeckers opened #117 "Category Landing [Mobile]: (From QA) Problem tags too wide"
http://dev.culligandiy.com/Undersink-Systems and Product pages: problem tag text is overlapping and going outside the frame of (or butting up against the frame of) the blue boxes:

![image](https://cloud.githubusercontent.com/assets/11283011/7091530/21e794c4-df5f-11e4-8171-433b06c6cc76.png)

[2015-04-10 15:58] MartyBeckers opened #118 "Product Manual Library [Mobile]: (From QA) Adjust white space"
http://dev.culligandiy.com/Product-Manual-Library: There is too much white space in the following instances:
a.	After the last product in a category
b.	When there is a category that only has one item

![image](https://cloud.githubusercontent.com/assets/11283011/7091599/aed4b646-df5f-11e4-95a8-834c67e47322.png)

[2015-04-10 15:58] nickpaventi commented on #112
@MartyBeckers the // needs to be removed, should just be tel:1-800-721-9243, where can we edit this in the CMS?

[2015-04-10 16:03] MartyBeckers opened #119 "Solution Guide [Mobile]: (From QA) White space between products"
http://dev.culligandiy.com/Solutions/?problem=15: There are varying degrees of white space between products listed on the Solutions page and related products sections of all pages:

![image](https://cloud.githubusercontent.com/assets/11283011/7091663/4643800c-df60-11e4-821c-7608f972a195.png)

![image](https://cloud.githubusercontent.com/assets/11283011/7091683/7976a79c-df60-11e4-8a09-be7d2c132edc.

[2015-04-10 16:05] mikewestaz commented on #107
@MartyBeckers - Understood on the back-end part. If @zheindel is good there from the client POV I've go no concerns.

@nickpaventi I do believe this should be text and icons if possible or at least an SVG for best look on mobile, etc.

[2015-04-10 16:07] nickpaventi commented on #70
@MartyBeckers where is the media directory that can we upload new versions of these images?

[2015-04-10 16:09] MartyBeckers opened #120 "Category Landing [Mobile]: (From QA) Big headline too large"
http://dev.culligandiy.com/Replacements: The “ts” at the end of “Replacements” is getting cut off.  This is happening with all longer words in titles (like “Refrigerator” and “House/Sediment”) as well, and it pushes the entire text for the page to the left:

![image](https://cloud.githubusercontent.com/assets/11283011/7091730/efe8b320-df60-11e4-8404-4c28889236fb.png)

![image](https://cloud.github

[2015-04-10 16:39] zheindel commented on #107
@mikewestaz all good from the clients side!

Z

[2015-04-10 16:58] seanriceaz commented on #111
Fixed.
Line 14746 of the CSS file.
Added:
[code]

[2015-04-10 16:58] #111 closed

[2015-04-10 17:11] MartyBeckers commented on #112
Ok I just changed it (http://dev.culligandiy.com/CMSDesk/ > Culligan DIY > Page tab > wrench next to the phone number) but QA is still reporting the same results. Should we just remove the link and display it as text?

[2015-04-10 17:13] MartyBeckers commented on #70
http://dev.culligandiy.com/cmsdesk/ > Tools > Media

[2015-04-10 17:50] nickpaventi commented on #101
Changed line 14982 for the color line height and font-size.

[2015-04-10 17:51] nickpaventi commented on #101
Added line 15074

.product-problem-links label {
  text-transform:uppercase;
}

[2015-04-10 17:55] nickpaventi commented on #101
Added line 15068 for border-radius

[2015-04-10 18:04] nickpaventi commented on #84
@MartyBeckers where can we remove that last sentence?

[2015-04-10 18:06] nickpaventi commented on #63
jQuery is fixed.

@MartyBeckers looks like we are down to just 2 columns on the home page, should be four:

1 column total, column 1: add "end", remove "large-3"
2 columns total, column 1: remove "large-3"
2 columns total, column 2: add "end", remove "large-3"
3 columns total, column 1: add "large-offset-2"
3 columns total, column 2: no change
3 columns total, column 3: add "end"
4 columns total,

[2015-04-10 18:12] nickpaventi commented on #91
fixed

[2015-04-10 18:12] #91 closed

[2015-04-10 18:14] nickpaventi commented on #63
@MartyBeckers Note on the above comment: this appears to be working fine on the category pages- http://dev.culligandiy.com/Undersink-Systems

But is not on the homepage.

[2015-04-10 18:15] nickpaventi commented on #99
Part 1 Fixed at line 15238

[2015-04-10 18:21] nickpaventi commented on #99
Part 2 Added line 15241

[2015-04-10 18:21] #99 closed

[2015-04-10 18:27] nickpaventi commented on #103
Edited line 14296 in the CSS

[2015-04-10 18:27] #103 closed

[2015-04-10 18:29] nickpaventi commented on #106
@zheindel this should be a change in the CMS, can you handle or reassign?

[2015-04-10 18:33] seanriceaz commented on #110
Fixed.

CSS line 12848
[code]

Also added a clearfix to the css ( like 30 or so) and had to rearrange the code slightly.

[2015-04-10 18:33] #110 closed

[2015-04-10 18:33] nickpaventi commented on #109
Updated line 14906 and added lines 14975-7

[2015-04-10 18:33] #109 closed

[2015-04-10 18:38] yuchentai commented on #107
@MartyBeckers
I couldn't find "perfect solution" section on Dev. Do you know where is it located? However, I pushed changes to git to extend the column width of the tags. Thanks

[2015-04-10 18:40] zheindel commented on #106
@MartyBeckers I can't seem to find where you change the name of subcategory, Can you help us out with that.. with the Subcategories we just want to shorten it where it says "Filters and Parts" for example Undersink System Replacements same for the other categories there.

[2015-04-10 18:44] nickpaventi commented on #100
@MartyBeckers can you point me to the location where I can update the column layout for these elements?

[2015-04-10 18:47] nickpaventi commented on #120
@mikewestaz this is an issue at 320px for some of these longer words and words combined using a / with no spaces. We already bumped down the font size, is this a content issue or should we shrink the font-size further?

[2015-04-10 18:51] nickpaventi commented on #119
Fixed, removed margin at 13785

[2015-04-10 18:51] #119 closed

[2015-04-10 18:54] seanriceaz commented on #110
clearfix code is here:
[code]

[2015-04-10 18:54] nickpaventi commented on #118
@MartyBeckers This may be a content entry issue, there are empty columns with empty ULs. Can we exclude these in the loop? Are there blank entries in the CMS?
![screen shot 2015-04-10 at 11 53 01 am](https://cloud.githubusercontent.com/assets/10563172/7094674/4ab1da90-df78-11e4-9af3-54bdf21e81e1.png)

[2015-04-10 18:56] seanriceaz commented on #110
Had to add another fix to the css
Line 13112
[code]

[2015-04-10 18:59] nickpaventi commented on #117
Added white-space at line 15066

[2015-04-10 18:59] #117 closed

[2015-04-10 19:04] nickpaventi commented on #67
@MartyBeckers I can reproduce this, is it browser specific?

[2015-04-10 19:09] MartyBeckers commented on #84
I removed it just now and it's located at http://dev.culligandiy.com/CMSSiteManager/ > Page templates > Culligan DIY > Culligan DIY Master > Design > sprocket next to "Mailing List Thank You"

[2015-04-10 19:16] MartyBeckers commented on #63
Yes the same style code is shared by the home page, it's just that only two products were flagged as "Featured on the home page".  I've added two more products, although Culligan will likely want to select four products that they actually want to feature.

[2015-04-10 19:22] MartyBeckers commented on #107
That's located at http://dev.culligandiy.com/CMSSiteManager/ > Page templates > Culligan DIY > Culligan DIY Product Detail > Design > sprocket next to "Detail Panel" > "Edit" next to "cmsproduct.culligan.detailpanel"

[2015-04-10 19:28] MartyBeckers commented on #106
Yes I changed them and for future reference the categories, subcategories, and problem tags can all be changed at http://dev.culligandiy.com/cmsdesk/ > Administration > Categories.

[2015-04-10 19:28] seanriceaz commented on #105
Added `medium-collapse` to the row instead of `collapse`.

Had to add this to line 6310 of the css
[code]

[2015-04-10 19:31] MartyBeckers commented on #100
We actually had to create a custom .Net class to handle the output of all product teasers (featured and unfeatured) which is a separate file on the server that has gotten pretty complex.  So if you want to make changes to the HTML, it would probably be easiest if you were to adjust it at http://culligandiy.dev.ethology.com/category-landing/ and then send me the details about what changed so I can

[2015-04-10 19:33] #106 closed

[2015-04-10 19:35] MartyBeckers commented on #67
It looks like it's working properly in Firefox, but not in IE or Chrome.  To reproduce, click on the thumbnails to slide to the video thumbnail, click on the video thumbnail to open the video panel, press play and wait for the voice to start, then press close and you can still hear the audio.

[2015-04-10 19:42] MartyBeckers commented on #118
The original HTML/CSS was created for the mockup at http://invis.io/MZ2H76PQ5, then because all of the categories changed and required more than just three sections, the new mockup at http://invis.io/PQ2LHEKGD was created and that's the structure we integrated into Kentico.  In order to utilize the existing HTML/CSS with the new layout, we had to include empty columns to finish off each row (other

[2015-04-10 19:50] MartyBeckers opened #124 "Home Page [Tablet]: (From QA) Button links cut off"
On an iPad Air in vertical orientation, the copy links are getting cut off:

![image](https://cloud.githubusercontent.com/assets/11283011/7095525/027d3e74-df80-11e4-8826-9991597fc2a8.png)

Note that if you rotate to horizontal and then back to vertical, the buttons are no longer cut off

[2015-04-10 19:52] MartyBeckers opened #125 "Home Page [Tablet]: (From QA) Callout text overlapping and unreadable"
On an iPad Air in vertical orientation (but not horizontal), the callout text is overlapping and unreadable:

![image](https://cloud.githubusercontent.com/assets/11283011/7095582/7aff67d2-df80-11e4-9412-da0efa34999e.png)

[2015-04-10 19:55] MartyBeckers commented on #125
![image](https://cloud.githubusercontent.com/assets/11283011/7095621/a78da1b0-df80-11e4-9fb7-1bcaead4b728.png)

[2015-04-10 20:02] mikewestaz commented on #125
Already entered https://github.com/nickpaventi/culligan-diy/issues/89
Closing this version

[2015-04-10 20:02] #125 closed

[2015-04-10 20:26] nickpaventi commented on #118
Can we add the class "end" to the last column in each row? That will stop them from floating right

[2015-04-10 20:28] mikewestaz commented on #120
I think we need to work on the content itself-is there a page in particular I should look at?

[2015-04-10 20:56] nickpaventi commented on #120
@mikewestaz you bet - http://dev.culligandiy.com/Whole-House-Systems

[2015-04-10 21:02] nickpaventi commented on #63
@MartyBeckers thanks that makes sense!

One final change on this one, centering things didn't go so well on tablet sized devices. So to fix that we are going to left align all views.

Can you remove the logic that adds "large-offset-2" to the: 3 columns total, column 1

[2015-04-10 21:03] nickpaventi commented on #102
Part 2 will be fixed via #63

[2015-04-10 21:04] mikewestaz opened #127 "Find a Retailer: 4 images under Lowe's should be 1 image"
Due to image availability, there is one image to use here.
Should be one image occupying the same space as all 4.

Image placement listing in the tracking sheet:
https://docs.google.com/a/ethology.com/spreadsheets/d/1PyCH6n2UvXViw7LaDdRNiD42N5iUPlEkyg9YY-PbeDI/edit#gid=1312084835

Photo attached
![lowes-feature-image](https://cloud.githubusercontent.com/assets/10550484/7097591/e7b89262-df8b-11e4-9

[2015-04-10 21:14] mikewestaz opened #128 "Find a Retailer: Opening copy needs ``<p>``"
Opening copy needs to be wrapped in ``<p></p>`` so it assumes the right styles

![find a retailer p](https://cloud.githubusercontent.com/assets/10550484/7097610/1fc08016-df8c-11e4-9f66-4b5c09d0d950.png)

[2015-04-10 21:21] nickpaventi commented on #70
@zheindel almost all of these images are in content, can you pass this info along to whoever is updating the hero images and such?

[2015-04-10 21:22] mikewestaz opened #129 "Support: Links to PDFs should open new tab/window"
Need to add ``target="_blank"`` to the PDF resources
http://dev.culligandiy.com/Product-Manual-Library/

[2015-04-10 21:23] nickpaventi commented on #84
@mikewestaz @zheindel is this all set now?

[2015-04-10 21:26] mikewestaz commented on #120
Yes, the content needs to be edited. Something like 'Whole House & Sediment Filtration' solves this issue.

cc @zheindel

[2015-04-10 21:27] nickpaventi commented on #63
@MartyBeckers one other thing I noticed here...

We have incorrectly nested divs here

[code]

Can you remove the outer <div class="row featured-products"> That will solve our horizontally scrolling screen on tablet.

[2015-04-10 21:33] mikewestaz opened #131 "Product Support: Thank you list needs style adjustments"
The list of products after form submission:
- [ ] Font should be Din (tertiary button style)
- [ ] Right column of links should be left justified

![contact-support](https://cloud.githubusercontent.com/assets/10550484/7097833/66935b38-df8e-11e4-81f5-fcab3d9dc406.png)

[2015-04-10 21:35] nickpaventi commented on #129
@MartyBeckers doesn't look like we can update this, can you take a look?

[2015-04-10 21:37] nickpaventi commented on #128
This has been added.

[2015-04-10 21:37] #128 closed

[2015-04-10 21:37] mikewestaz opened #132 "Global Footer: Link for 'Find a culligan man' incorrect"
The link to Find a Culligan Man in the footer should go to:
http://www.culligan.com/en-us/d/appointment/schedule-an-appointment/

[2015-04-10 21:42] nickpaventi commented on #127
@MartyBeckers another one I think I need your help on. I tried to add this in zoneShopOnlineLink under Link1, but I don't see any editing privileges. The code should change to:

OLD
[code]

NEW
[code]

[2015-04-10 21:43] mikewestaz opened #133 "Global Footer: Links for 'About' 'Terms' and 'Privacy' missing"
Can't tell if these pages are missing or if just the links are. @zheindel any information here?

[2015-04-10 21:44] seanriceaz commented on #104
added this at 12510
[code]

added this at 12529

[code]

Javascript incoming

[2015-04-10 21:45] nickpaventi commented on #132
fixed

[2015-04-10 21:45] #132 closed

[2015-04-10 21:46] nickpaventi commented on #68
fixed

[2015-04-10 21:46] #68 closed

[2015-04-10 21:47] mikewestaz opened #134 "Sitemap: Many links produce error page and links repeated"
@MartyBeckers Not sure if this is placeholder sitemap or generated dynamically
cc @zheindel

http://dev.culligandiy.com/Sitemap

![screenshot 2015-04-10 14 45 49](https://cloud.githubusercontent.com/assets/10550484/7098023/5fbe1468-df90-11e4-924e-a8a77a0c4305.png)

[2015-04-10 21:49] zheindel commented on #84
@nickpaventi Good on my side.

[2015-04-10 21:53] #84 closed

[2015-04-10 21:57] mikewestaz opened #135 "Solution Center: Modal needed for 'Hard Water' selection"
Per the email thread from @MartyBeckers - Proposed modal solution for Hard Water selection is on InVision http://invis.io/KE2OC0ETB and loaded here.

Should link to: http://www.culligan.com/en-us/d/appointment/schedule-an-appointment/
cc @nickpaventi @zheindel

![solutions center modal](https://cloud.githubusercontent.com/assets/10550484/7098148/ee7e9802-df91-11e4-8378-6a1fc04e09c8.jpg)

[2015-04-10 22:00] zheindel commented on #133
@mikewestaz think we just want these to link to the below:

About - http://www.culligan.com/en-us/d/what-we-do/
Terms- http://www.culligan.com/en-us/d/company/terms-and-conditions/
Privacy- http://www.culligan.com/en-us/d/company/privacy-policy/

[2015-04-10 22:06] seanriceaz commented on #104
Added this to the page:

[code]

[2015-04-10 22:07] nickpaventi commented on #94
fixed

[2015-04-10 22:07] #94 closed

[2015-04-10 22:10] mikewestaz commented on #133
@MartyBeckers @nickpaventi @zheindel Thanks Zack, not sure who's the right person to apply that buy correct links are listed above...

[2015-04-10 22:10] seanriceaz commented on #104
Moved this line
[code]
to `.site-navigation`. WAS at `.site-navigation ul li`

[2015-04-10 22:11] nickpaventi commented on #88
fixed

[2015-04-10 22:11] #88 closed

[2015-04-10 22:12] seanriceaz commented on #104
@MartyBeckers Reopening this.

I've put the code for this in the CMS (HTML Envelope), but the "Choose a System" text is hard-coded. The text may need to be made dynamic depending on if the customer is looking at systems or filters...

[2015-04-10 22:13] nickpaventi commented on #112
@mikewestaz is this the desired functionality? For me it's click to call on mobile and on desktop the browser prompts you for an application that can make phone calls. I don't get redirected to a 404 page.

[2015-04-10 22:17] seanriceaz commented on #134
assigning this to @MartyBeckers Since it seems like a dev issue.

[2015-04-10 22:20] nickpaventi commented on #64
@MartyBeckers can you retest this?

[2015-04-10 22:29] nickpaventi commented on #86
@mikewestaz this should be all set, please confirm.

[2015-04-10 22:37] seanriceaz commented on #133
@MartyBeckers I went in and did some tweaks on this, including adding the link href's in. Assinging to you, since this is a backend issue now.

HOWEVER, the `href` attribute of the links isn't rendering to the browser. Not sure why.

[2015-04-10 22:42] zheindel commented on #120
This is done

[2015-04-10 22:42] #120 closed

[2015-04-10 22:46] nickpaventi commented on #67
@MartyBeckers I added some code to the page header in Page Templates > Culligan DIY > Culligan DIY Product Detail but I don't see my code on the page. Is there something I need to do to push this live?

[2015-04-10 22:56] nickpaventi commented on #70
@MartyBeckers can you change the following image formats, I can't find them in the code:

OLD
[code]
NEW
[code]

[2015-04-10 23:10] zheindel commented on #74
@nickpaventi can you assign @MartyBeckers to this...his team will be updating the images.

Z

[2015-04-10 23:12] nickpaventi commented on #107
@mikewestaz please take a look and see which of these items were completed by Marty

[2015-04-10 23:19] nickpaventi commented on #89
@MartyBeckers also can't find this, but the fix is simple. Note this needs to be applied to both Blue dot sections.

OLD
[code]
NEW
[code]

[2015-04-10 23:26] nickpaventi commented on #114
Removed top and bottom padding which was causing the text to disappear, add in some box-sizing and height:

[code]

[2015-04-10 23:26] #114 closed

[2015-04-10 23:33] MartyBeckers commented on #135
This doesn't look too bad - will someone be able to provide me with HTML/CSS that I can integrate into Kentico?

[2015-04-10 23:33] seanriceaz commented on #124
Fixed. added `overflow:hidden;` at 13810

[2015-04-10 23:33] #124 closed

[2015-04-10 23:37] mikewestaz commented on #135
@nickpaventi or @seanriceaz - think we can knock this out static for @MartyBeckers ?

cc @zheindel

[2015-04-10 23:45] mikewestaz commented on #107
@nickpaventi Closed the issues @MartyBeckers updates resolved

[2015-04-10 23:47] mikewestaz commented on #86
@nickpaventi confirmed.

[2015-04-10 23:47] #86 closed

[2015-04-10 23:49] mikewestaz commented on #112
@nickpaventi this appears to function correctly. Closing ticket.

[2015-04-10 23:49] #112 closed

[2015-04-11 00:55] MartyBeckers opened #136 "Product Detail [Tablet]: (From QA) Product Manual and Ask Expert wrapping"
Product Manual and Ask expert buttons are wrapping oddly on an iPad Air in vertical orientation:
![image](https://cloud.githubusercontent.com/assets/11283011/7099575/bc390ff8-dfaa-11e4-9461-f32603ffa45a.png)

[2015-04-11 00:58] MartyBeckers opened #137 "Solutions [Tablet]: (From QA) Find Solutions button cut off"
Text for the Find Solutions button is getting cut off on an iPad Air in vertical orientation:

![image](https://cloud.githubusercontent.com/assets/11283011/7099578/de8bff0c-dfaa-11e4-87a2-2f3b77bed658.png)

[2015-04-11 01:01] MartyBeckers opened #138 "Category Landing [Tablet]: (From QA) Overlapping photo"
http://dev.culligandiy.com/Whole-House-Systems: Product box is overlapping View details button on an iPad Air in vertical orientation:

![image](https://cloud.githubusercontent.com/assets/11283011/7099603/87a71428-dfab-11e4-9a11-2875c9a58f89.png)

[2015-04-11 01:03] MartyBeckers opened #139 "Product Detail [Tablet]: (From QA) Feature text overlaps"
http://dev.culligandiy.com/Faucet-Filters/Chrome-Faucet-Mount-Water-Filter: Text overlaps images on an iPad Air in vertical orientation:

![image](https://cloud.githubusercontent.com/assets/11283011/7099613/ca8953dc-dfab-11e4-92b7-219e973230e8.png)

[2015-04-11 01:04] MartyBeckers opened #140 "Search Results [Tablet]: (From QA) Pagination wrapping incorrectly"
The previous and next text is wrapping incorrectly on an iPad Air in vertical orientation:
![image](https://cloud.githubusercontent.com/assets/11283011/7099626/064d9608-dfac-11e4-8f85-0ee3d3b4fabd.png)

[2015-04-11 01:24] MartyBeckers commented on #118
Actually once I took out the blank items the page still retained its formatting so we must have changed something along the way that removed the need for the extras and it looks good now.

[2015-04-11 01:24] #118 closed

[2015-04-11 01:52] MartyBeckers commented on #67
That's strange, I haven't seen that before and changes to the header have always instantly appeared.  I wasn't able to get your header changes to save at all, so I moved them to the layout tab within the jQuery that was already at the bottom of the page.  That seemed to do it, but please let me know if you run into that issue again.  I also confirmed that your changes resolved the issue.

[2015-04-11 01:52] #67 closed

[2015-04-11 02:25] MartyBeckers commented on #70
Yes the changes are in place.

[2015-04-11 02:35] MartyBeckers commented on #89
Ok that change is in place and it resolved the issue.

[2015-04-11 02:35] #89 closed

[2015-04-11 02:53] MartyBeckers commented on #63
Ok those changes are in place but it looks like they broke the display of the products at the bottom of the Category Landing page (http://dev.culligandiy.com/Undersink-Systems) and the Product Detail page (http://dev.culligandiy.com/Undersink-Systems/Direct-Connect-Systems/Basic-Under-Sink-Filter-System)

[2015-04-11 03:01] MartyBeckers commented on #129
Yes that change is in place.

[2015-04-11 03:01] #129 closed

[2015-04-11 03:15] MartyBeckers commented on #134
That was a temporary issue during development, please try again.

[2015-04-11 03:22] MartyBeckers commented on #133
Ok these are in place.  For future reference, the editable content elements in the header/footer can be changed in http://dev.culligandiy.com/CMSDesk/ > Culligan DIY > Page > wrench next to the link

[2015-04-11 03:22] #133 closed

[2015-04-11 03:28] nickpaventi commented on #127
Thanks! Updated the CSS and this is all set now.

[2015-04-11 03:28] #127 closed

[2015-04-11 03:30] nickpaventi commented on #136
fixed

[2015-04-11 03:30] #136 closed

[2015-04-11 03:35] nickpaventi commented on #63
@MartyBeckers Sure did! The fix here is to uncomment that div directly inside div class="four-container". We still need the div class="row featured-products" that is inside that div, just didn't need the one outside it. Thanks!

[2015-04-11 03:36] nickpaventi commented on #70
@zheindel I think all the images that are in code have been updated. Can you make sure the images in content entry are as well? At this point I think this ticket is the sam as #74

[2015-04-11 03:55] MartyBeckers commented on #104
Ok I put that in place.  Please note that the new menu is currently throwing errors about these missing fonts:

http://dev.culligandiy.com/culliganDIY/media/fonts/ionicons.woff
http://dev.culligandiy.com/culliganDIY/media/fonts/ionicons.ttf

Those files can be added at http://dev.culligandiy.com/CMSDesk/ > Tools > Media > Fonts to remove the errors and get the icons to display.

[2015-04-11 03:58] MartyBeckers commented on #63
Ok I uncommented the div that I had commented earlier, but I'm having a hard time following what needs to be done for this ticket.  Here's the code:

<div class=""four-container"">
	<div class=""row featured-products"">
		[productHTML]
	</div>
</div>

Can you make the changes that are needed and paste the new code here?

[2015-04-11 04:03] MartyBeckers commented on #64
Still happening :/

[2015-04-11 07:16] nickpaventi commented on #72
@MartyBeckers for the issue in 768 (There should not be a rule under 'Replacements', creates a double line) would it be possible to add the class "no-border" to the Replacements anchor tag? The logic would ideally add this tag to the last li before the first li with class="mobile-social", not just target Replacements.

[2015-04-11 08:32] nickpaventi commented on #140
fixed

[2015-04-11 08:32] #140 closed

[2015-04-11 16:05] nickpaventi commented on #63
@MartyBeckers I think this is all set now. Before we had

[code]

Now we only have
[code]

Notice that the extra div class="row featured products" is not wrapping div class="four-container" anymore

[2015-04-11 16:49] nickpaventi commented on #64
@MartyBeckers one more time, I think this is fixed.

[2015-04-11 16:52] nickpaventi commented on #104
I added these fonts, but there appears to be an issue with the animation

[2015-04-11 17:28] mikewestaz commented on #104
Might just need to ask @seanriceaz to take a look first thing Monday AM

[2015-04-11 17:34] mikewestaz commented on #139
Closing this. There is another to me that will resolve.
Thanks!

[2015-04-11 17:34] #139 closed

[2015-04-11 17:35] nickpaventi commented on #102
Fixed

[2015-04-11 17:35] #102 closed

[2015-04-11 17:39] nickpaventi commented on #100
@MartyBeckers can you just make the following small change (add a wrapping div on the image inside div class="small-5 columns")

OLD
[code]
NEW
[code]

[2015-04-11 17:41] nickpaventi commented on #100
I added this to line 15124: .cat-prod-img { max-width:334px; }

[2015-04-11 18:14] MartyBeckers commented on #64
It's fixed!

[2015-04-11 18:14] #64 closed

[2015-04-11 18:21] MartyBeckers commented on #63
Well now it's just back to the way it was where this outputs to the home page:

[code]
and this outputs to the Category Landing pages and the Product Detail pages:
[code]
So will that work, or do you want the outer "row featured-products" div removed from the home page?

[2015-04-11 18:23] nickpaventi commented on #63
@MartyBeckers Please remove the extra outer "row featured-products" for the home page, then we can close this out. thanks!

[2015-04-11 18:57] MartyBeckers commented on #72
Yes that change is in place, although I should note that the site currently only allows for a fixed number of main categories (7) since there are so many areas of the code that would need to be changed by a developer in order to add/remove main categories.  So for now this class is just on the seventh category, although I'll be sure to note it so that if we go back and revise the site to accept an

[2015-04-11 19:32] MartyBeckers commented on #100
Ok this is in place.

[2015-04-11 19:37] MartyBeckers commented on #63
Ok that change is in place.

[2015-04-11 20:00] yuchentai commented on #137
Fixed the padding issue that causes button being cut off on iPad 3/4, should be the same result on iPad Air.

[2015-04-11 22:17] nickpaventi commented on #72
Looks good, thanks!

[2015-04-11 22:22] nickpaventi commented on #63
Thanks!

[2015-04-11 22:22] #63 closed

[2015-04-11 22:31] MartyBeckers opened #141 "Home Page: (From QA) New callout images don't line up"
The blue dot no longer lines up well with the new callout images at the bottom of the page and the second one is cut off:

![image](https://cloud.githubusercontent.com/assets/11283011/7103521/a744b9a2-e05f-11e4-9448-ce216e082258.png)

![image](https://cloud.githubusercontent.com/assets/11283011/7103523/c328f958-e05f-11e4-9154-da41790b7138.png)

[2015-04-11 22:41] MartyBeckers opened #142 "Category Landing [Tablet]: (From QA) Subcategory landing text problem"
[Discovered on an Android tablet but occurs in a browser as well]

When viewing pages that have sub-categories (so it doesn’t occur with Refrigerator Filters or Specialty Filters pages, but all others), you can see, “Choose a system”.  When you click that link, the word, “system” gets pushed to the far right, and it is overlapped by some minus symbols.  If you click on that link again (the close o

[2015-04-11 22:43] MartyBeckers commented on #74
This is complete.

[2015-04-11 22:43] #74 closed

[2015-04-11 22:44] MartyBeckers commented on #70
The remaining content images are in place as well now.

[2015-04-11 22:44] #70 closed

[2015-04-11 22:59] nickpaventi commented on #100
This is all set

[2015-04-11 22:59] #100 closed

[2015-04-11 23:03] nickpaventi commented on #141
I fixed the cutoff issue.

@mikewestaz you want to get with me to knock out the positioning of this one first thing Monday AM? Should be an easy fix, just changing some positioning values.

[2015-04-11 23:20] nickpaventi commented on #105
@MartyBeckers I need a couple classes changed for this one:

OLD
[code]
NEW
[code]

[2015-04-11 23:31] nickpaventi commented on #142
Same issue as #104

[2015-04-11 23:31] #142 closed

[2015-04-11 23:40] mikewestaz commented on #141
Sure @nickpaventi but before we worry about that we need the content so that we know what to highlight. The client has not provided anything for the homepage yet (please confirm @zheindel )

[2015-04-11 23:43] nickpaventi commented on #72
@MartyBeckers would it be possible to place a div immediately inside the body tag as an entire page wrapper for every page? We could give it div class="page-wrapper". Doing so would make resolving the off-screen nav issues 100 time easier.

[2015-04-11 23:48] nickpaventi commented on #75
@MartyBeckers can you move div class="view-details" outside of div class="small-12 columns greater-than" so that it is just next to div class="row"

OLD
[code]

NEW
[code]

[2015-04-12 00:38] MartyBeckers commented on #105
Ok this change is in place.

[2015-04-12 00:46] MartyBeckers commented on #72
Yes I've added it to the master template, although it's not quite the first div inside the body tag because of all of the stuff that Kentico adds automatically.  If that won't work, let me know and I can edit the core Kentico code to get it just inside the body tag.

[2015-04-12 00:48] nickpaventi commented on #105
Thanks!

[2015-04-12 00:48] #105 closed

[2015-04-12 00:56] MartyBeckers commented on #75
Ok that change is in place.

[2015-04-12 01:40] zheindel commented on #141
@mikewestaz That is correct still waiting on that content from the client

[2015-04-12 15:38] nickpaventi commented on #75
@mikewestaz even wrapping the entive div in a link will not let the user click anywhere and go to the product page (the big white space under the form buttons isn't clickable). Should we just link the image title and description, or do you want me to rig up some jquery?

[2015-04-12 16:17] nickpaventi commented on #116
fixed

[2015-04-12 16:17] #116 closed

[2015-04-12 16:19] nickpaventi commented on #108
fixed

[2015-04-12 16:19] #108 closed

[2015-04-12 16:24] nickpaventi commented on #79
@mikewestaz this extra white space is coming from the image itself, should we crop to top?

[2015-04-12 16:29] nickpaventi commented on #131
@MartyBeckers I see that you are clearing this list on every other li so that they float next to each other. Do you have a solution to put these into 2 columns instead? I can't seem to find a CSS way to left align the text with how the current UL is constructed.

[2015-04-12 19:49] MartyBeckers commented on #131
That HTML was pulled directly from http://culligandiy.dev.ethology.com/contact-success/ and just shifted slightly so that it can be shown/hidden with jQuery.  As long as it's separate from the div with the form, feel free to any HTML you like in there.

[2015-04-12 23:01] #137 closed

[2015-04-12 23:04] nickpaventi commented on #107
@MartyBeckers can you take a look at the image /culliganDIY/media/img/product-detail/small-splash.jpg and change the extension to .png?

[2015-04-12 23:20] nickpaventi commented on #107
@MartyBeckers if I am reading this correctly - If Culligan is not providing additional product photography for the left of the features and benefits, we should remove the image, left justify Features and Benefits on the page (6 col) and make Specs on the right where applicable (6 col)

Then I will need the following changes to the HTML

OLD
[code]
NEW
[code]

[2015-04-12 23:22] nickpaventi commented on #107
@MartyBeckers is this in your logic?  If it's a Lowes exclusive product, the logo and additional messaging should be present from comp

[2015-04-12 23:41] nickpaventi commented on #107
@MartyBeckers can you make the following HTML update for this part - The great box and the buttons inside it are wider than the comp, can we reduce this width?

Just moving the 2 anchor tags  inside the div class="warranty"...

OLD
[code]
NEW
[code]

[2015-04-12 23:48] nickpaventi commented on #107
@MartyBeckers for - Find a Retailer CTA (and content below it) should be in-line horizontally with the top of the product name text

Looks like we need to leave .find-store-container .top-text-wrapper in the page even if it is empty, that will force the CTA to align with the product name.

[2015-04-12 23:56] nickpaventi commented on #107
@MartyBeckers can you add a div right inside div class="product-detail-gallery" called div class="detail-gallery-overlay"? I've added the CSS for this and it should take care of - CHANGE FROM COMP Need to add a mask over the background image, screen shot of updated comp attached

[code]

[2015-04-13 00:02] nickpaventi commented on #107
@MartyBeckers this will be a site wide change for -  The wider/2-up product display is not consistent with the comps (image on left side, etc.)

Just need to add the class medium-6 to the 2 div class="small-12" inside inner-wrapper > row
OLD
[code]
NEW
[code]

[2015-04-13 01:00] MartyBeckers commented on #107
Hi @nickpaventi - this ticket is getting a little overwhelming and I'm not sure it makes sense for me to implement all of these changes since I'm not sure what they are trying to accomplish.  Do you want to give it a shot and let me know if you run into trouble?  All of the code listed here should be at http://dev.culligandiy.com/CMSSiteManager/ > Development > Page templates > Culligan DIY > Cull

[2015-04-13 01:26] nickpaventi commented on #107
@MartyBeckers, thanks I was able to knock out most of these. There are 2 changes I still need help with:

First - this will fix the Related Products layout so if the wide format shows the display will be image on the left with text and links on the right (instead of staked how it is now)

This will be a site wide change for -  The wider/2-up product display is not consistent with the comps (image

[2015-04-13 04:12] MartyBeckers commented on #107
Ok great, these remaining changes are in place.

[2015-04-13 05:13] nickpaventi commented on #135
@MartyBeckers please use the following HTML for this modal

[code]

[2015-04-13 05:43] nickpaventi opened #143 "Improve Page Load Time"
Wanted to keep this on the radar before Go Live:

Reduce # of  HTTP requests
Minify the JS and CSS
Add caching
Add image dimensions (height and width) to img elements

[2015-04-13 05:48] yuchentai commented on #75
@MartyBeckers can you please change this featured product? thanks
OLD
<div class="inner-wrapper">
		<div class="row">
			<div class="small-12 columns">
				<img src="../img/four-featured-products/feature-image-1.png" />
			</div>
			<div class="small-12 columns greater-than">
				<div class="featured-title">Product Name</div>
				<div class="featured-description hide-for-small">Lorem ipsum dolor s

[2015-04-13 05:51] yuchentai commented on #75
@MartyBeckers sorry the img tag above div.featured-title needs to be wrapped with a tag too.

[2015-04-13 15:18] MartyBeckers commented on #143
Yes I put as many of the changes in place as possible, although they haven't made it up to the staging server yet (http://stg.culligandiy.com) and that's where the testing should really take place because just the act of developing slows the site way down.  For instance, if you've ever attempted to bring up a page and experienced a long delay of between 30 seconds and 5 minutes, that's because I'v

[2015-04-13 15:35] MartyBeckers opened #144 "IE Compatibility: (From QA) Internet Explorer 9 layout problems"
IE 10/11 are working great now, but IE 9 displays with problems.  Note that there are no IE 9 error messages and the layout problems don't occur in the IE 11 Emulator, only a real browser (http://www.browserstack.com is the easiest way to see the issue):

![image](https://cloud.githubusercontent.com/assets/11283011/7119021/ed1521ca-e1b7-11e4-80fc-baad624e9c67.png)

[2015-04-13 15:47] yuchentai commented on #138
@MartyBeckers this problem might be caused by extra closing div tag in Line 31 category-landing/index.html.  Please check the html code on dev. Thanks

<div class="three-forth-hero">
	<img src="../img/innovative-droplet-full/water-bg.png" class="water-bg" />
		{% include three-forth-hero.html %}
	</div>  <----------------------- This needs to be removed.
</div>

[2015-04-13 15:49] MartyBeckers commented on #75
@yuchentai can you provide the old/new code here with the extra tag you mentioned so that I can make sure I implement it correctly?

[2015-04-13 15:56] seanriceaz commented on #144
Here are some linter results:
http://infohound.net/tidy/tidy.pl?_function=tidy&_url=http%3A%2F%2Fdev.culligandiy.com%2FShower-Head-Filters&_html=&alt-text=&doctype=auto&fix-backslash=y&fix-bad-comments=y&fix-uri=y&join-styles=y&lower-literals=y&ncr=y&new-blocklevel-tags=&new-empty-tags=&new-inline-tags=&new-pre-tags=&output-xhtml=y&quote-ampersand=y&quote-nbsp=y&indent=auto&indent-spaces=2&tab-siz

[2015-04-13 16:08] MartyBeckers commented on #138
@yuchentai can you take another look at the source for http://dev.culligandiy.com/Whole-House-Systems?  When I check lines 574-602 (the subcategory headline and featured product), I'm counting 10 open div tags and 10 closing div tags.  If you still think there's an extra, can you paste in a larger selection of the code and point to the problem again?

[2015-04-13 16:22] yuchentai commented on #138
@MartyBeckers It's hard to locate the problem when checking the rendered html in browser.  I found the extra closing div tag in source file.  Once I removed that closing tag.  The page render correctly on my local.

File Path: /_build/category_landing/index.html
Code:
---
layout: default
title: Category Landing
slug: category-landing
path: ../
---

{% include tall-hero.html %}

&lt;div class="navi

[2015-04-13 16:42] MartyBeckers commented on #144
Ok the new doctype is in place but it didn't change anything in IE 9.

[2015-04-13 16:55] nickpaventi commented on #104
@seanriceaz this is the menu bug

[2015-04-13 17:32] nickpaventi commented on #75
@MartyBeckers all we need is to wrap the image, title and description in a tags...please note that the actual href would come from the div class="view-details" link

OLD
[code]
NEW
[code]

[2015-04-13 17:44] MartyBeckers commented on #75
Ok those changes are in place.

[2015-04-13 17:46] MartyBeckers commented on #138
Ahh yes I actually remember that extra closing div tag because it was breaking features in Kentico when we first integrated the HTML.  I believe that has already been removed, but if you're still seeing an extra close div tag somewhere in the rendered page source, please point me to it.

[2015-04-13 17:46] nickpaventi commented on #75
@MartyBeckers please note I just updated the code a little, can you double check the changes you just made?

[2015-04-13 17:47] MartyBeckers commented on #75
Yes I had put the first round of code in place, then when I was going to write "done" I noticed it had changed and put the new changes in place :)

[2015-04-13 17:57] nickpaventi commented on #75
Thanks! Can you add class="featured-link" to the new a tags?

This is the HTML I am seeing
[code]
Should be
[code]

[2015-04-13 18:18] MartyBeckers commented on #75
Ok that's in place.

[2015-04-13 18:21] zheindel opened #145 "Updating Tag "Aesthetic Chlorine Taste & Odor""
@MartyBeckers - can you update it where it says "Aesthetic Chlorine Taste & Odor" for the old products so it just says "Chlorine" and that way all the products are consistent with that tag.

Thanks

[2015-04-13 18:24] nickpaventi commented on #75
Thank you!

[2015-04-13 18:24] #75 closed

[2015-04-13 18:27] nickpaventi commented on #138
This has been fixed.

[2015-04-13 18:27] #138 closed

[2015-04-13 18:33] nickpaventi commented on #144
Looks like the CSS didn't load to me. I have a PC at home and will check this on my lunch

[2015-04-13 18:46] MartyBeckers commented on #135
Ok this is in place and functional.

[2015-04-13 21:04] MartyBeckers commented on #145
Ok this change is in place.

[2015-04-13 21:05] zheindel commented on #145
Thanks @MartyBeckers

[2015-04-13 21:05] #145 closed

[2015-04-13 21:54] mikewestaz commented on #79
Looks like the second part of this you menioned @nickpaventi is resolved with the new photo

[2015-04-13 21:54] #134 closed

[2015-04-13 22:33] seanriceaz commented on #104
This should be resolved now.

Modified the javascript at the bottom of the product-category page.
Also, modified a couple lines in the css: , 11410, 11404.

[2015-04-13 22:33] #104 closed

[2015-04-13 23:19] zheindel commented on #101
Hi @nickpaventi this still seems to be an issue here:
http://dev.culligandiy.com/Whole-House-Systems

It seems like when you refresh it goes to the correct place and I also messed with my screen/window size and that helped but @mikewestaz was seeing the same issue
![screen shot 2015-04-13 at 4 12 21 pm](https://cloud.githubusercontent.com/assets/11874973/7127418/e1c6682e-e1f8-11e4-8639-be6e4c83153

[2015-04-14 00:06] nickpaventi commented on #101
@zheindel @mikewestaz this is related to some javascript that is under construction for the mobile na. Will check back once that is complete.

[2015-04-14 15:04] #135 closed

[2015-04-14 15:05] #72 closed

[2015-04-14 15:05] #73 closed

[2015-04-14 15:09] nickpaventi commented on #101
@zheindel @mikewestaz can you test this again and see if you can reproduce it?

[2015-04-14 15:10] nickpaventi commented on #107
@mikewestaz can you take another look at this page and make sure everything you pointed out has been taken care of?

[2015-04-14 21:20] zheindel commented on #101
Tried to reproduce and looks good.  Nice work!

[2015-04-14 21:20] #101 closed

[2015-04-14 21:21] zheindel opened #146 "Product Manual Library - Update with Model number"
One more quick observation. The product manual library needs some work. http://dev.culligandiy.com/Product-Manual-Library/

The subcategories are all there and that’s great. But we want the model number of each product under those subcategories to be displayed and not the description. Also, the “Replacements” subcategory should not be listed in the product manual library. Replacement filters are l

[2015-04-14 21:45] nickpaventi commented on #144
@MartyBeckers the issue was that IE9 stops loading CSS rules after about 4000 in one file. We split the Culligan DIY css into 2 files and things seem to be working now. Please re-test

[2015-04-14 22:11] MartyBeckers commented on #146
Ok these changes are in place.

[2015-04-14 22:11] #146 closed

[2015-04-14 22:15] MartyBeckers commented on #144
That fixed it right up!

[2015-04-14 22:15] #144 closed

[2015-04-14 22:45] MartyBeckers opened #147 "Contact Forms [IE 9]: (From QA) Placeholder text is missing"
Product Support and Contact CulliganDIY info field boxes are blank:

![image](https://cloud.githubusercontent.com/assets/11283011/7149003/3c997254-e2bd-11e4-9015-779e5a1a16ea.png)

[2015-04-14 22:48] MartyBeckers opened #148 "Contact Forms [IE 9]: (From QA) Column layout broken"
Information in right nav area of Product Support and Contact Culligan DIY pages are getting pushed down, and not lining up with the contact form fields like they should:

![image](https://cloud.githubusercontent.com/assets/11283011/7149027/9de99bce-e2bd-11e4-978c-03269b5ecb32.png)

[2015-04-15 00:10] mikewestaz opened #149 "Verify that thumbnail photos and videos are in place and funtioning"
I am not able to find products with these on the site currently

[2015-04-15 00:11] mikewestaz commented on #149
@MartyBeckers - I'm breaking up that large PDP ticket https://github.com/nickpaventi/culligan-diy/issues/107 so if these items I'm creating you have validated elsewhere please feel free to close this!

[2015-04-15 00:12] mikewestaz opened #150 "Verify that Lowe's products are on the site"
Need to verify that the PDP adjusts for the Lowe's / Non-Lowe's products

[2015-04-15 00:13] mikewestaz opened #151 "Verify that product specs are showing on the site"
I cannot find any products that have this information

[2015-04-15 00:27] mikewestaz commented on #151
@nickpaventi @MartyBeckers Adding both of you guys to this as I'm a little unclear who needs to do what. Thanks!

[2015-04-15 00:27] mikewestaz commented on #107
@MartyBeckers @zheindel @yuchentai @nickpaventi - Closing this monster ticket.

[2015-04-15 00:27] #107 closed

[2015-04-15 01:16] MartyBeckers commented on #151
I've corrected the typo (it was actually an unneeded span) and I believe the rest of the changes can be made in the CSS.  @nickpaventi let me know if you need my help with those.

[2015-04-15 02:08] MartyBeckers commented on #149
We created temporary placeholder thumbnails/video for demonstration on the product at http://dev.culligandiy.com/Shower-Head-Filters/Wall-Mount/RainDisc-Filtered-Showerhead, but none of the products from the original Ektron site had more than one photo and Culligan only provided more than one photo on occasion (http://dev.culligandiy.com/basic-direct-connect-filter is an example).  So I believe th

[2015-04-15 02:08] MartyBeckers commented on #150
Yes I can confirm that the logic is correctly displaying the Lowe's/Generic blue boxes depending on the value of the product "Lowe's Exclusive" checkbox (a Lowe's product can be seen at http://dev.culligandiy.com/Undersink-Systems/Ultra-Filtration-Systems/Ultrafiltration-System-with-SureLock and a non-Lowe's product can be seen at http://dev.culligandiy.com/Undersink-Systems/Direct-Connect-Systems

[2015-04-15 03:19] #150 closed

[2015-04-15 03:21] mikewestaz commented on #149
Thanks @MartyBeckers - closing task!

[2015-04-15 23:10] #149 closed

[2015-04-15 23:36] zheindel opened #152 "Header Images with Floating Products"
Hi Team,

Culligan has decided for the header image that we will be using a background image and then a product image "highlighted" and "Floating" on top.  This means it will be two separate images and we will need some front-end and backend dev so when this resizes the image doesn't get cut off and stays in the center on mobile.

@mikewestaz will be mocking these up and providing the images
@Mart

[2015-04-17 15:44] zheindel opened #153 "Fridge Filter Sub Category - Not showing Product #'s"
Hi @MartyBeckers,

Don't know why this is but this one subcategory is not showing the product #'s can you fix/investigate please.

Z

[2015-05-04 22:40] MartyBeckers opened #154 "New Home Page: (From QA) Revised layout doesn't match mockup"
Now that the new content is in place, there are some front-end styles that don't match the mockups.

1. The new product photo should overlap the new gray bar:
![image](https://cloud.githubusercontent.com/assets/11283011/7462626/e0264ed8-f267-11e4-967c-6b72b792ca99.png)

2. The gap is too large below the intro paragraph in both desktop and mobile:
![image](https://cloud.githubusercontent.com/assets

[2015-05-05 16:25] mikewestaz opened #155 "Bullet Points: Wrapping text should not bread the indent"
See screen shot from Home page, however this should be globally consistent on desktop and mobile.

![culligan-diy-homepage-bullets](https://cloud.githubusercontent.com/assets/10550484/7477432/99461af6-f308-11e4-8084-659b33dd1186.png)

[2015-05-05 19:03] nickpaventi commented on #154
fixed 2,3,4 and 6

[2015-05-05 19:11] nickpaventi opened #156 "Missing mobile content"
@MartyBeckers the home page hero is missing content on mobile, please add the same content from the home page to this div:

![screen shot 2015-05-05 at 12 08 11 pm](https://cloud.githubusercontent.com/assets/10563172/7480773/d6fb7578-f31f-11e4-9704-a4d806b77a39.png)

[2015-05-05 19:15] nickpaventi commented on #154
@mikewestaz for part 5 here, I see that the correct color is #006699, but when I convert that to RGB and give it an opacity (ex: rgba(0, 102, 153, .8)) it does not match the comp. Can you send the RGB value with opacity to me to implement?

[2015-05-05 19:18] nickpaventi commented on #154
fixed part 1

[2015-05-05 19:29] mikewestaz commented on #154
@nickpaventi - the hex is right, blending mode just needs to be set to multiply (it's not an opacity) so the water image shows through it.

cc @zheindel

[2015-05-05 21:12] nickpaventi commented on #154
@zheindel should be all set here

[2015-05-05 23:23] MartyBeckers commented on #156
@nickpaventi can you clarify this?  I'm seeing the home page and category landing page header content on mobile:
![image](https://cloud.githubusercontent.com/assets/11283011/7484875/f35550b8-f342-11e4-92c1-0fc3d771f375.png)
![image](https://cloud.githubusercontent.com/assets/11283011/7484880/0e1f8f6c-f343-11e4-9d33-097ebb24ac5e.png)

If that's not what you're referring to, can you send a screensho

[2015-05-05 23:28] nickpaventi commented on #156
@MartyBeckers sorry, I just realized that if I switch out of "preview mode" this works as expected

[2015-05-05 23:28] #156 closed

[2015-05-06 18:07] zheindel opened #157 "Spacing with Water"
Hi Nick - small issue with spacing just need to move the water image up some see screenshot attached

First sticky
Tighten up this area. There is too much blank space between the end of the paragraph and the water graphic.

Second Sticky
Correct spacing. The word Ultrafiltration should appear below the water graphic and not over it. Move the image of the product at the same time so that there is a

[2015-05-06 19:31] nickpaventi commented on #157
@zheindel what browser is this in?

[2015-05-06 19:31] #154 closed

[2015-05-06 19:33] zheindel commented on #157
Good question I'll ask as I can't reproduce on our side.

Z

[2015-05-06 19:36] nickpaventi commented on #155
fixed

[2015-05-06 19:36] #155 closed

[2015-05-06 19:37] nickpaventi commented on #79
N/A

[2015-05-06 19:37] #79 closed

[2015-05-06 19:38] nickpaventi commented on #141
N/A

[2015-05-06 19:38] #141 closed

[2015-05-06 19:38] nickpaventi commented on #152
added

[2015-05-06 19:38] #152 closed

[2015-05-06 19:45] nickpaventi commented on #148
@MartyBeckers I see some duplicate HTML here, looks like we have 2 forms showing up? Is there an improper close div somewhere?

![screen shot 2015-05-06 at 12 45 02 pm](https://cloud.githubusercontent.com/assets/10563172/7502034/d51fa7dc-f3ed-11e4-972b-5d5f99573f07.png)

[2015-05-06 19:50] nickpaventi commented on #151
CSS should be fixed. @MartyBeckers can you add the class "text-center" to this div?

[code]

[2015-05-06 20:22] zheindel commented on #157
Any idea on this, clients comment is below with screenshot?  Is it cookies?  Or possibly something else?

@nickpaventi
I’m using Chrome as a browser and this is how it looks to me:
![unnamed 1](https://cloud.githubusercontent.com/assets/11874973/7502713/e667bf66-f3f2-11e4-8ba9-b06caeb241b8.png)

[2015-05-06 21:09] zheindel commented on #157
@nickpaventi had him clear his cache, we goo!

[2015-05-06 21:09] #157 closed

[2015-05-06 21:13] MartyBeckers commented on #148
I'm not seeing any problems that would cause duplication of the code and when I view the resulting page source and search for page-wrapper, I only get the one.  Can you provide more specifics if you're still seeing the problem?

[2015-05-06 21:20] MartyBeckers commented on #151
Ok that change is in place